@use 'functions' as fn;

:root {
	--blw-spacing-xs: #{fn.spacing(0.25)};
	--blw-spacing-sm: #{fn.spacing(0.5)};
	--blw-spacing-md: #{fn.spacing(1.5)};
	--blw-spacing-lg: #{fn.spacing(3)};
	--blw-spacing-xl: #{fn.spacing(5)};
}
