/// CSS Reset based on Andy Bell's (more) modern CSS reset
/// @see https://andy-bell.co.uk/a-more-modern-css-reset/
@use 'variables/font';

@use 'mixins' as mx;

:root {
	--flow-direction: 1;
}

[dir="rtl"] {
	--flow-direction: -1;
}

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Prevent font size inflation */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

/* Set core body defaults */
body {
	font-family: font.$fallback;
	line-height: 1.5;
	@include mx.viewport-height(100, 'min');
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
	line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
	text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

/* Make images easier to work with */
img,
picture,
svg {
	max-width: 100%;
	display: block;
	vertical-align: middle;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
	font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny and change the resize direction to only vertical */
textarea:not([rows]) {
	min-height: 10em;
	resize: vertical;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
	scroll-margin-block: 5ex;
}

/* Add pointer cursor to buttons */
button,
[type='button'],
[type='reset'],
[type='submit'] {

	&:not(:disabled) {
		cursor: pointer;
	}
}

/* Unify the sub and sup stylings */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}

iframe {
	border: 0;
}
