@use 'sass:color';

$primary: #4cb286 !default;

$primary-50: #f0faf5 !default;
$primary-100: #d9f5e8 !default;
$primary-200: #b3ebd1 !default;
$primary-300: #8ce1ba !default;
$primary-400: #66d7a3 !default;
$primary-500: $primary !default; /// This is the primary color spcified above
$primary-600: #3c8e6e !default;
$primary-700: #2c6a56 !default;
$primary-800: #1c463e !default;
$primary-900: #0d2327 !default;

/// Some aliases for the primary color
$primary-lighter: $primary-100 !default;
$primary-light: $primary-300 !default;
$primary-dark: $primary-700 !default;
$primary-darker: $primary-900 !default;

$text-light: $primary-50 !default;
$text-dark: $primary-900 !default;

$gray-50: #f8fafc !default;
$gray-100: #f1f5f9 !default;
$gray-200: #e2e8f0 !default;
$gray-300: #cbd5e1 !default;
$gray-400: #94a3b8 !default;
$gray-500: #64748b !default;
$gray-600: #475569 !default;
$gray-700: #1e293b !default;
$gray-800: #1e293b !default;
$gray-900: #0f172a !default;

$danger-50: #FFF7F7 !default;
$danger-100: #FEEFEF !default;
$danger-200: #FCD6D7 !default;
$danger-300: #FABBBD !default;
$danger-400: #F68B8D !default;
$danger-500: #F1595C !default;
$danger-600: #D75052 !default;
$danger-700: #913638 !default;
$danger-800: #6D292A !default;
$danger-900: #461A1B !default;

$warning-50: #FFFAF8 !default;
$warning-100: #FFF4F1 !default;
$warning-200: #FEE4DA !default;
$warning-300: #FDD2C3 !default;
$warning-400: #FCB298 !default;
$warning-500: #FA916B !default;
$warning-600: #DF8260 !default;
$warning-700: #965741 !default;
$warning-800: #714231 !default;
$warning-900: #4A2E21 !default;

$positive-50: #F3FEF8 !default;
$positive-100: #E7FDF1 !default;
$positive-200: #E7FDF1 !default;
$positive-300: #A3F9D5 !default;
$positive-400: #5FF5B1 !default;
$positive-500: #50C793 !default;
$positive-600: #3F9A7A !default;
$positive-700: #2E6D61 !default;
$positive-800: #1F4B47 !default;
$positive-900: #0F2A2E !default;

$info-50: #F3FEFF !default;
$info-100: #E7FEFF !default;
$info-200: #C5FDFF !default;
$info-300: #A3FCFF !default;
$info-400: #5FF9FF !default;
$info-500: #0CE7FA !default;
$info-600: #00B8D4 !default;
$info-700: #007A8D !default;
$info-800: #005E67 !default;
$info-900: #003F42 !default;
