@use '../../variables/color';

@use '../../functions' as fn;
@use '../../mixins' as mx;

.theme-dashboard {
	--size-sidebar: 300px;
	--spacing-segments: var(--blw-spacing-md);
	--area-row-first: 'sidebar header';
	--area-row-last: 'sidebar footer';

	display: grid;
	grid-template-columns: var(--size-sidebar) 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		var(--area-row-first)
		'sidebar main'
		var(--area-row-last);
	@include mx.viewport-height(100, 'min');

	.layout-sidebar {
		grid-area: sidebar;
		padding: var(--spacing-segments);
		background-color: color.$primary;
		color: color.$text-light;
		isolation: isolate;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			inset: 0 0 0 auto;
			width: 10px;
			background: linear-gradient(to right, transparent, rgba(0,0,0,.1));
			z-index: -1;
		}

		.section-title {
			margin-block: fn.spacing(3) fn.spacing(.5);
			font-size: 1.25rem;
			font-weight: 600;
			color: color.$text-light;
		}
	}

	.layout-main {
		grid-area: main;
		padding: var(--spacing-segments);
	}

	.layout-header {
		grid-area: header;
		padding: var(--spacing-segments);
	}

	.layout-footer {
		grid-area: footer;
		padding: var(--spacing-segments);
	}

	&.has-no-header, &:not(:has(.layout-header)) {
		--area-row-first: 'sidebar main';
	}

	&.has-no-footer, &:not(:has(.layout-footer)) {
		--area-row-last: 'sidebar main';
	}
}
