.align-center {
	align-items: center;
}
.align-start {
	align-items: start;
}
.align-end {
	align-items: end;
}
.align-flex-start {
	align-items: flex-start;
}
.align-flex-end {
	align-items: flex-end;
}
.align-self-start {
	align-items: self-start;
}
.align-self-end {
	align-items: self-end;
}
.align-baseline {
	align-items: baseline;
}
.align-stretch {
	align-items: stretch;
}

.justify-center {
	justify-content: center;
}
.justify-start {
	justify-content: start;
}
.justify-end {
	justify-content: end;
}
.justify-flex-start {
	justify-content: flex-start;
}
.justify-flex-end {
	justify-content: flex-end;
}
.justify-space-between {
	justify-content: space-between;
}
.justify-space-around {
	justify-content: space-around;
}
.justify-space-evenly {
	justify-content: space-evenly;
}

.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-justify {
	text-align: justify;
}
