$alignments: center start end flex-start flex-end self-start self-end baseline stretch;

@each $alignment in $alignments {
	.align-#{$alignment} {
		align-items: $alignment;
	}
}

$justifications: center start end flex-start flex-end space-between space-around space-evenly;

@each $justification in $justifications {
	.justify-#{$justification} {
		justify-content: $justification;
	}
}

$text-alignments: center left right justify;

@each $text-alignment in $text-alignments {
	.text-#{$text-alignment} {
		text-align: $text-alignment;
	}
}

$floats: left right;

@each $float in $floats {
	.pull-#{$float} {
		float: $float;

		.flow & {
			margin-inline-#{if($float == 'left', 'end', 'start')}: 1em;
			margin-block-end: .5em;
		}
	}
}
