.align-center {
	align-items: center;
}
.align-start {
	align-items: start;
}
.align-end {
	align-items: end;
}
.align-flex-start {
	align-items: flex-start;
}
.align-flex-end {
	align-items: flex-end;
}
.align-self-start {
	align-items: self-start;
}
.align-self-end {
	align-items: self-end;
}
.align-baseline {
	align-items: baseline;
}
.align-stretch {
	align-items: stretch;
}

.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-justify {
	text-align: justify;
}
