.width-0 {
	width: 0;
}
.width-xs {
	width: 1rem;
}
.width-sm {
	width: 2.5rem;
}
.width-md {
	width: 5rem;
}
.width-lg {
	width: 10rem;
}
.width-xl {
	width: 20rem;
}

.height-0 {
	height: 0;
}
.height-xs {
	height: 1rem;
}
.height-sm {
	height: 2.5rem;
}
.height-md {
	height: 5rem;
}
.height-lg {
	height: 10rem;
}
.height-xl {
	height: 20rem;
}

.inline-size-0 {
	inline-size: 0;
}
.inline-size-xs {
	inline-size: 1rem;
}
.inline-size-sm {
	inline-size: 2.5rem;
}
.inline-size-md {
	inline-size: 5rem;
}
.inline-size-lg {
	inline-size: 10rem;
}
.inline-size-xl {
	inline-size: 20rem;
}

.block-size-0 {
	block-size: 0;
}
.block-size-xs {
	block-size: 1rem;
}
.block-size-sm {
	block-size: 2.5rem;
}
.block-size-md {
	block-size: 5rem;
}
.block-size-lg {
	block-size: 10rem;
}
.block-size-xl {
	block-size: 20rem;
}
