@use 'sass:map';

$sizes: (
	0: 0,
	xs: 1rem,
	sm: 2.5rem,
	md: 10rem,
	lg: 25rem,
	xl: 60rem,
);

@each $size, $value in $sizes {
	.width-#{$size} {
		width: $value;
	}
	.max-width-#{$size} {
		max-width: $value;
	}
	.min-width-#{$size} {
		min-width: $value;
	}
}
.width-25 {
	width: 25%;
}
.width-50 {
	width: 50%;
}
.width-75 {
	width: 75%;
}
.width-100 {
	width: 100%;
}
.width-third {
	width: calc(100% / 3);
}
.width-twothirds {
	width: calc(100% / 1.5);
}
.max-content {
	width: max-content;
}
.min-content {
	width: min-content;
}
.fit-content {
	width: fit-content;
}

.flex-1 {
	flex: 1;
}
.flex-2 {
	flex: 2;
}
.flex-3 {
	flex: 3;
}

.columns-2 {
	grid-template-columns: repeat(2, 1fr);
}
.columns-3 {
	grid-template-columns: repeat(3, 1fr);
}
.columns-4 {
	grid-template-columns: repeat(4, 1fr);
}
.columns-5 {
	grid-template-columns: repeat(5, 1fr);
}
.columns-6 {
	grid-template-columns: repeat(6, 1fr);
}

.rows-2 {
	grid-template-rows: repeat(2, 1fr);
}
.rows-3 {
	grid-template-rows: repeat(3, 1fr);
}
.rows-4 {
	grid-template-rows: repeat(4, 1fr);
}
.rows-5 {
	grid-template-rows: repeat(5, 1fr);
}
.rows-6 {
	grid-template-rows: repeat(6, 1fr);
}

.column-span-1 {
	grid-column: span 1;
}
.column-span-2 {
	grid-column: span 2;
}
.column-span-3 {
	grid-column: span 3;
}

.row-span-1 {
	grid-row: span 1;
}
.row-span-2 {
	grid-row: span 2;
}
.row-span-3 {
	grid-row: span 3;
}

.height-25 {
	height: 25%;
}
.height-50 {
	height: 50%;
}
.height-75 {
	height: 75%;
}
.height-100 {
	height: 100%;
}
.height-third {
	height: calc(100% / 3);
}
.height-twothirds {
	height: calc(100% / 1.5);
}

@each $size, $value in $sizes {
	.height-#{$size} {
		height: $value;
	}
	.max-height-#{$size} {
		max-height: $value;
	}
	.min-height-#{$size} {
		min-height: $value;
	}
}

@each $size, $value in $sizes {
	.inline-size-#{$size} {
		inline-size: $value;
	}
	.max-inline-size-#{$size} {
		max-inline-size: $value;
	}
	.min-inline-size-#{$size} {
		min-inline-size: $value;
	}
}

@each $size, $value in $sizes {
	.block-size-#{$size} {
		block-size: $value;
	}
	.max-block-size-#{$size} {
		max-block-size: $value;
	}
	.min-block-size-#{$size} {
		min-block-size: $value;
	}
}
