$displays: block inline-block inline flex inline-flex grid inline-grid table table-caption table-cell table-column table-column-group table-footer-group table-header-group table-row-group table-row flow-root;
$flex-directions: column row-reverse column-reverse;
$flex-wraps: wrap;

@each $display in $displays {
	.#{$display} {
		display: $display;
	}
}

@each $flex-direction in $flex-directions {
	.flex-#{$flex-direction} {
		flex-direction: $flex-direction;
	}
}

@each $flex-wrap in $flex-wraps {
	.flex-#{$flex-wrap} {
		flex-wrap: $flex-wrap;
	}
}

.hidden {
	display: none;
}
