///
/// This utility class helps you to get your normal flow content right.
///
@use '../variables/color';

.flow {
	--spacing-flow: 1em;

	line-height: 1.5;
	font-size: var(--blw-text-size-md);

	& > * {
		margin-block: 0;

		& + * {
			margin-block-start: var(--spacing-flow);
		}
	}

	ul, ol {
		padding-inline-start: 2.5ch;
	}

	h1 {
		font-size: var(--blw-headline-size-xl);
	}
	h2 {
		font-size: var(--blw-headline-size-lg);
	}
	h3 {
		font-size: var(--blw-headline-size-md);
	}
	h4 {
		font-size: var(--blw-headline-size-sm);
	}
	h5 {
		font-size: var(--blw-headline-size-xs);
	}
	h6 {
		font-size: var(--blw-text-size-lg);
	}

	:is(h1, h2, h3, h4, h5, h6) {
		line-height: 1.1;

		& + p {
			--spacing-flow: 0.5em;
		}
	}

	figure {
		margin-inline: 0;
	}

	blockquote {
		border-inline-start: 5px solid color.$primary;
		padding-inline-start: 1em;
		padding-block: 0.5em;
		margin-inline: 0;
		font-size: var(--blw-text-size-xl);

		&:not([class*='pull-']) {
			margin-inline: 1.5em;
		}

		& > * {
			margin-block: 0;

			& + * {
				margin-block-start: var(--spacing-flow);
			}
		}

		cite {
			display: block;
			font-size: var(--blw-text-size-sm);
			font-style: italic;

			&::before {
				content: '—';
				margin-right: 1ch;
			}
		}
	}
}
