@use '../functions' as fn;

.gap-0 {
	gap: 0;
}
.gap-xs {
	gap: #{fn.spacing(0.25)};
}
.gap-sm {
	gap: #{fn.spacing(0.5)};
}
.gap-md {
	gap: #{fn.spacing(1)};
}
.gap-lg {
	gap: #{fn.spacing(1.5)};
}
.gap-xl {
	gap: #{fn.spacing(2)};
}
