$positions: absolute relative fixed sticky;
$insets: 0 xs sm md lg xl;
$sides: top right bottom left;

@each $position in $positions {
	.#{$position} {
		position: $position;
		@if $position == 'sticky' {
			top: 0;
			z-index: 1;
		}
	}
}

@each $inset in $insets {
	.inset-#{$inset} {
		inset: if($inset == 0, 0, var(--blw-spacing-#{$inset}));
	}
}

@each $side in $sides {
	@each $inset in $insets {
		.#{$side}-#{$inset} {
			#{$side}: if($inset == 0, 0, var(--blw-spacing-#{$inset}));
		}
	}
}
