$spacing-sizes: 0, auto, xs, sm, md, lg, xl;


@each $size in $spacing-sizes {
	$value: var(--blw-spacing-#{$size});
	@if $size == 0 {
		$value: 0;
		@debug 0;
	}
	@if $size == auto {
		$value: auto;
	}

	/// Margins
	@if $size != 'auto' {
		.m-#{$size} {
			margin: $value;
		}
	}

	.mt-#{$size} {
		margin-top: $value;
		@debug $value;
	}
	.mb-#{$size} {
		margin-bottom: $value;
	}
	.mr-#{$size} {
		margin-right: $value;
	}
	.ml-#{$size} {
		margin-left: $value;
	}
	.m-inline-#{$size} {
		margin-inline: $value;
	}
	.m-block-#{$size} {
		margin-block: $value;
	}

	/// Paddings
	@if $size != 'auto' {
		.p-#{$size} {
			padding: $value;
		}
	}

	.pt-#{$size} {
		padding-top: $value;
	}
	.pb-#{$size} {
		padding-bottom: $value;
	}
	.pr-#{$size} {
		padding-right: $value;
	}
	.pl-#{$size} {
		padding-left: $value;
	}
	.p-inline-#{$size} {
		padding-inline: $value;
	}
	.p-block-#{$size} {
		padding-block: $value;
	}

	/// Gaps
	@if $size != 'auto' {
		.gap-#{$size} {
			gap: $value;
		}
	}
}
