@use '../variables/base';

@use '../functions' as fn;

.navigation {
	--spacing-links-horizontal: var(--blw-spacing-md);
	--spacing-links-vertical: #{fn.spacing(1.25)};
	--border-radius-links: #{base.$corner-radius};

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	&__item {
		position: relative;
	}

	&__link {
		display: flex;
		gap: calc(var(--spacing-links-horizontal) / 2);
		align-items: center;
		color: currentColor;
		padding: var(--spacing-links-vertical) var(--spacing-links-horizontal);
		text-decoration: none;
		transition: background-color 150ms;

		&:is(:hover, :focus-visible) {
			background-color: rgba(0, 0, 0, 0.1);
		}

		&:is(:active) {
			transition-duration: 0ms;
			background-color: rgba(0, 0, 0, 0.2);
		}
	}

	&--vertical {

		&.card {
			--spacing-links-horizontal: var(--spacing-card-horizontal);
		}

		.navigation__link {
			padding: var(--spacing-links-vertical) var(--spacing-links-horizontal);
			margin-inline: calc(var(--spacing-links-horizontal) * -1);
			gap: var(--spacing-links-horizontal);
		}

	}

	&--horizontal {

		ul {
			display: flex;
			gap: calc(var(--spacing-links-horizontal) / 2);
		}

		.navigation__link {
			border-radius: var(--border-radius-links);
		}
	}
}
