@use '../variables/base';

@use '../functions' as fn;

.navigation {
	--spacing-links-horizontal: var(--blw-spacing-md);
	--spacing-links-vertical: #{fn.spacing(1.25)};
	--border-radius-links: #{base.$corner-radius};

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	&__item {
		position: relative;
	}

	&__link {
		display: flex;
		gap: calc(var(--spacing-links-horizontal) / 2);
		align-items: center;
		color: currentColor;
		padding: var(--spacing-links-vertical) var(--spacing-links-horizontal);
		text-decoration: none;
		transition: background-color 150ms;

		&:not(.navigation--hover-follow .navigation__link):is(:hover, :focus-visible) {
			background-color: rgba(0, 0, 0, 0.1);
		}

		&:not(.navigation--hover-follow .navigation__link):is(:active) {
			transition-duration: 0ms;
			background-color: rgba(0, 0, 0, 0.2);
		}
	}

	&--hover-follow {
		.highlight {
			position: absolute;
			z-index: -1;
			transition-property: transform, width, height, color, background-color, opacity, left, top;
			transition-timing-function: cubic-bezier(.4,0,.2,1);
			transition-duration: .15s;
			transition-delay: .15s;
			transform-origin: 50% 50% 0;
			opacity: 0;
			border-radius: var(--border-radius-links);

			&.active {
				opacity: 1;
				background-color: rgba(0, 0, 0, 0.1);
			}
		}
	}

	&--vertical {

		&.card {
			--spacing-links-horizontal: var(--spacing-card-horizontal);
		}

		.navigation__link {
			padding: var(--spacing-links-vertical) var(--spacing-links-horizontal);
			gap: var(--spacing-links-horizontal);
		}

		.layout-sidebar & {
			margin-inline: calc(var(--spacing-links-horizontal) * -1);
		}
	}

	&--horizontal {

		ul {
			display: flex;
			gap: calc(var(--spacing-links-horizontal) / 2);
		}

		.navigation__link {
			border-radius: var(--border-radius-links);
		}
	}
}
