@use '../variables/base';
@use '../variables/color';

@use '../functions' as fn;

.alert {
	--color-alert-background: #{color.$primary};
	--color-alert-text: #{color.$primary-50};
	--color-alert-border: #{color.$primary-600};
	--spacing-alert: #{fn.spacing(1.5)};
	--border-radius-alert: #{base.$corner-radius};
	--border-width-alert: 1px;
	--font-size-alert: 1rem;

	padding: var(--spacing-alert);
	border-radius: var(--border-radius-alert);
	background-color: var(--color-alert-background);
	color: var(--color-alert-text);
	font-size: var(--font-size-alert);
	text-decoration: none;
	border: var(--border-width-alert) solid var(--color-alert-border);

	a {
		color: var(--color-alert-text);
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	&--success {
		--color-alert-background: #{color.$positive-200};
		--color-alert-text: #{color.$positive-900};
		--color-alert-border: #{color.$positive-300};
	}

	&--danger {
		--color-alert-background: #{color.$danger-200};
		--color-alert-text: #{color.$danger-900};
		--color-alert-border: #{color.$danger-300};

	}

	&--warning {
		--color-alert-background: #{color.$warning-200};
		--color-alert-text: #{color.$warning-900};
		--color-alert-border: #{color.$warning-300};
	}

	&--info {
		--color-alert-background: #{color.$gray-200};
		--color-alert-text: #{color.$gray-900};
		--color-alert-border: #{color.$gray-300};
	}

	&--dark {
		--color-alert-background: #{color.$gray-800};
		--color-alert-text: #FFF;
		--color-alert-border: #{color.$gray-900};
	}

	&--light {
		--color-alert-background: #{color.$gray-100};
		--color-alert-text: #{color.$gray-900};
		--color-alert-border: #{color.$gray-100};
	}

}
