@use '../variables/base';
@use '../variables/color';
@use '../variables/transition';

@use '../functions' as fn;

.badge {
	--color-badge-background: #{color.$gray-200};
	--color-badge-background-hover: var(--color-badge-border);
	--color-badge-text: #{color.$gray-900};
	--color-badge-border: #{color.$gray-300};
	--spacing-badge-horizontal: #{fn.spacing(.75, true)};
	--spacing-badge-vertical: #{fn.spacing(.5, true)};
	--border-radius-badge: #{base.$corner-radius};
	--border-width-badge: 1px;
	--font-size-badge: var(--blw-text-size-xs);
	--font-weight-badge: 600;

	display: flex;
	gap: calc(var(--spacing-badge-horizontal) / 2);
	padding: var(--spacing-badge-vertical) var(--spacing-badge-horizontal);
	border-radius: var(--border-radius-badge);
	background-color: var(--color-badge-background);
	color: var(--color-badge-text);
	font-size: var(--font-size-badge);
	font-weight: var(--font-weight-badge);
	border: var(--border-width-badge) solid var(--color-badge-border);

	&:is(a) {
		color: var(--color-badge-text);
		text-decoration: none;
		transition: background-color transition.$speed-fast;

		&:hover {
			text-decoration: none;
			background-color: var(--color-badge-background-hover);
		}
	}

	&__close {
		display: flex;
		align-items: center;
		background-color: transparent;
		border: 0;
		padding: var(--spacing-badge-vertical) var(--spacing-badge-horizontal);
		margin-block: calc(var(--spacing-badge-vertical) * -1);
		margin-inline-end: calc(var(--spacing-badge-horizontal) * -1);
		color: var(--color-badge-text);
		transition: background-color #{transition.$speed-fast};
		line-height: 1;
		border-start-end-radius: var(--border-radius-badge);
		border-end-end-radius: var(--border-radius-badge);

		&:hover {
			background-color: var(--color-badge-background-hover);
		}

		&:active {
			background-color: var(--color-badge-background);
		}

		svg {
			width: 1em;
			height: 1em;
		}
	}

	&--primary {
		--color-badge-background: #{color.$primary};
		--color-badge-text: #{color.$primary-50};
		--color-badge-border: #{color.$primary-600};
	}

	&--success {
		--color-badge-background: #{color.$positive-200};
		--color-badge-text: #{color.$positive-900};
		--color-badge-border: #{color.$positive-300};
	}

	&--danger {
		--color-badge-background: #{color.$danger-200};
		--color-badge-text: #{color.$danger-900};
		--color-badge-border: #{color.$danger-300};
	}

	&--warning {
		--color-badge-background: #{color.$warning-200};
		--color-badge-text: #{color.$warning-900};
		--color-badge-border: #{color.$warning-300};
	}

	&--dark {
		--color-badge-background: #{color.$gray-700};
		--color-badge-background-hover: #{color.$gray-500};
		--color-badge-text: #FFF;
		--color-badge-border: #{color.$gray-900};
	}

	&--light {
		--color-badge-background: #{color.$gray-100};
		--color-badge-text: #{color.$gray-900};
		--color-badge-border: #{color.$gray-200};
	}
}
