.button-group {
	display: inline-flex;

	.button {
		border-radius: 0;
	}

	&:not(.button-group--vertical) {

		.button {

			&:first-child {
				border-start-start-radius: var(--border-radius-button);
				border-end-start-radius: var(--border-radius-button);
			}

			&:last-child {
				border-start-end-radius: var(--border-radius-button);
				border-end-end-radius: var(--border-radius-button);
			}
		}

	}

	&--vertical {
		flex-direction: column;

		.button {

			&:first-child {
				border-start-start-radius: var(--border-radius-button);
				border-start-end-radius: var(--border-radius-button);
			}

			&:last-child {
				border-end-start-radius: var(--border-radius-button);
				border-end-end-radius: var(--border-radius-button);
			}
		}
	}
}
