@use '../variables/base';
@use '../variables/color';
@use '../variables/transition';

@use '../functions' as fn;

.button {
	--color-button-background: #{color.$primary};
	--color-button-text: #FFF;
	--color-button-border: #{color.$primary};
	--color-button-background-hover: #{color.$primary-dark};
	--color-button-text-hover: #FFF;
	--color-button-border-hover: #{color.$primary-dark};
	--color-button-background-active: #{color.$primary-darker};
	--color-button-text-active: #FFF;
	--color-button-border-active: #{color.$primary-darker};
	--spacing-button-horizontal: var(--blw-spacing-md);
	--spacing-button-vertical: #{fn.spacing()};
	--border-radius-button: #{base.$corner-radius};
	--border-width-button: 1px;
	--font-size-button: 1rem;
	--font-weight-button: 600;

	padding: var(--spacing-button-vertical) var(--spacing-button-horizontal);
	display: inline-flex;
	gap: calc(var(--spacing-button-horizontal) / 2);
	align-items: center;
	justify-content: center;
	border-radius: var(--border-radius-button);
	background-color: var(--color-button-background);
	color: var(--color-button-text);
	font-size: var(--font-size-button);
	font-weight: var(--font-weight-button);
	text-decoration: none;
	border: var(--border-width-button) solid var(--color-button-border);
	transition-property: background-color, border-color, color;
	transition-duration: #{transition.$speed-fast};

	&:is(:hover, :focus-visible):not(:disabled) {
		background-color: var(--color-button-background-hover);
		border-color: var(--color-button-border-hover);
		color: var(--color-button-text-hover);
	}

	&:active:not(:disabled) {
		background-color: var(--color-button-background-active);
		border-color: var(--color-button-border-active);
		color: var(--color-button-text-active);
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}

	&--primary {}

	&--secondary {
		--color-button-background: #{color.$gray-200};
		--color-button-text: #{color.$gray-900};
		--color-button-border: #{color.$gray-200};
		--color-button-background-hover: #{color.$gray-500};
		--color-button-text-hover: #FFF;
		--color-button-border-hover: #{color.$gray-500};
		--color-button-background-active: #{color.$gray-900};
		--color-button-text-active: #FFF;
		--color-button-border-active: #{color.$gray-900};
	}

	&--tertiary {
		--color-button-background: transparent;
		--color-button-text: #{color.$gray-900};
		--color-button-border: transparent;
		--color-button-background-hover: #{color.$gray-400};
		--color-button-text-hover: #FFF;
		--color-button-border-hover: #{color.$gray-400};
		--color-button-background-active: #{color.$gray-800};
		--color-button-text-active: #FFF;
		--color-button-border-active: #{color.$gray-800};
	}

	&--destructive {
		--color-button-background: #{color.$danger-500};
		--color-button-text: #FFF;
		--color-button-border: #{color.$danger-500};
		--color-button-background-hover: #{color.$danger-700};
		--color-button-text-hover: #FFF;
		--color-button-border-hover: #{color.$danger-700};
		--color-button-background-active: #{color.$danger-800};
		--color-button-text-active: #FFF;
		--color-button-border-active: #{color.$danger-800};
	}

	&--dark {
		--color-button-background: #{color.$gray-900};
		--color-button-text: #FFF;
		--color-button-border: #{color.$gray-900};
		--color-button-background-hover: #{color.$gray-600};
		--color-button-text-hover: #FFF;
		--color-button-border-hover: #{color.$gray-600};
		--color-button-background-active: #{color.$gray-500};
		--color-button-text-active: #FFF;
		--color-button-border-active: #{color.$gray-500};
	}

	&--light {
		--color-button-background: #{color.$gray-100};
		--color-button-text: #{color.$gray-900};
		--color-button-border: #{color.$gray-100};
		--color-button-background-hover: #{color.$gray-200};
		--color-button-text-hover: #{color.$gray-900};
		--color-button-border-hover: #{color.$gray-200};
		--color-button-background-active: #{color.$gray-300};
		--color-button-text-active: #{color.$gray-900};
		--color-button-border-active: #{color.$gray-300};
	}

	&--small {
		--spacing-button-horizontal: #{fn.spacing(1.5)};
		--spacing-button-vertical: #{fn.spacing(.75)} ;
		--font-size-button: .75rem;
	}

	&--large {
		--spacing-button-horizontal: #{fn.spacing(3)};
		--spacing-button-vertical: #{fn.spacing(1.5)};
		--font-size-button: 1.25rem;
	}

	&--outline {
		--color-button-text: var(--color-button-background);
		--color-button-border: var(--color-button-background);

		background-color: transparent;

		&:where(.button--secondary, .button--tertiary, .button--light) {
			--color-button-text: #{color.$gray-900};
		}
	}

	&:has(.is-icon),
	&.has-icon {
		align-items: center;
		gap: .5em;
	}

	&--rounded {
		--border-radius-button: 200px;
	}
}
