@use '../variables/base';
@use '../variables/color';
@use '../variables/transition';

@use '../functions' as fn;

.card {
	--color-card-border: #{color.$gray-300};
	--spacing-card-horizontal: #{fn.spacing(1.5)};
	--spacing-card-vertical: #{fn.spacing(1.5)};
	--gap-card: var(--spacing-card-vertical) var(--spacing-card-horizontal);
	--border-radius-card: calc(#{base.$corner-radius} * 2);
	--border-radius-card-image: calc(var(--border-radius-card) / 2);
	--border-width-card: 1px;
	--font-size-card: var(--blw-text-size-md);
	--font-size-card-title: var(--blw-headline-size-xs);;
	--font-size-card-subtitle: var(--blw-text-size-lg);
	--font-size-card-meta: var(--blw-text-size-xs);
	--background-color-card: #FFF;
	--background-image-card: #{color.$gray-100};
	--color-card-text: #{color.$text-dark};

	position: relative;
	padding: var(--spacing-card-vertical) var(--spacing-card-horizontal);
	border-radius: var(--border-radius-card);
	background-color: var(--background-color-card);
	color: var(--color-card-text);
	font-size: var(--font-size-card);
	text-decoration: none;
	border: var(--border-width-card) solid var(--color-card-border);
	display: grid;
	gap: var(--gap-card);

	&__header {
		display: flex;
		flex-direction: column;
		gap: calc(var(--gap-card) / 2);
	}

	&__title {
		margin-block: 0;
		font-size: var(--font-size-card-title);
	}

	&__subtitle {
		margin-block: 0;
		font-size: var(--font-size-card-subtitle);
	}

	&__image {
		background: var(--background-image-card);
		border-radius: var(--border-radius-card-image);
		width: 100%;
		height: auto;
	}

	&__body {}

	&__footer {
		display: flex;
		gap: var(--gap-card);
	}

	&__meta {
		font-size: var(--font-size-card-meta);
		opacity: 0.7;

		a {
			color: currentColor;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&.has-edge-image {

		.card__image {
			margin-inline: calc(var(--spacing-card-horizontal) * -1);
			max-width: none;
			width: calc(100% + (var(--spacing-card-horizontal) * 2));

			&:first-child {
				margin-block-start: calc(var(--spacing-card-vertical) * -1);
			}

			&:last-child {
				margin-block-end: calc(var(--spacing-card-vertical) * -1);
			}

			&:not(:first-child) {
				border-start-start-radius: 0;
				border-start-end-radius: 0;
			}

			&:not(:last-child) {
				border-end-start-radius: 0;
				border-end-end-radius: 0;
			}
		}
	}

	&--primary {
		--background-color-card: #{color.$primary};
		--color-card-text: #{color.$primary-50};
		--color-card-border: #{color.$primary-600};
	}

	&--success {
		--background-color-card: #{color.$positive-200};
		--color-card-text: #{color.$positive-900};
		--color-card-border: #{color.$positive-300};
	}

	&--danger {
		--background-color-card: #{color.$danger-200};
		--color-card-text: #{color.$danger-900};
		--color-card-border: #{color.$danger-300};
	}

	&--warning {
		--background-color-card: #{color.$warning-200};
		--color-card-text: #{color.$warning-900};
		--color-card-border: #{color.$warning-300};
	}

	&--info {
		--background-color-card: #{color.$gray-200};
		--color-card-text: #{color.$gray-900};
		--color-card-border: #{color.$gray-300};
	}

	&--dark {
		--background-color-card: #{color.$gray-600};
		--color-card-text: #FFF;
		--color-card-border: #{color.$gray-900};
	}

	&--light {
		--background-color-card: #{color.$gray-100};
		--color-card-text: #{color.$gray-900};
		--color-card-border: #{color.$gray-200};
	}

	&--background-image {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		padding: 0;

		&::before {
			content: '';
			grid-column: 1 / -1;
			grid-row: 1 / -1;
			background-color: var(--background-color-card);
			z-index: 1;
			opacity: .6;
			border-radius: calc(var(--border-radius-card) - var(--border-width-card));
		}

		.card__image {
			grid-column: 1 / -1;
			grid-row: 1 / -1;
			border-radius: calc(var(--border-radius-card) - var(--border-width-card));
		}

		.card__wrapper {
			display: grid;
			gap: var(--gap-card);
			align-content: center;
			grid-column: 1 / -1;
			grid-row: 1 / -1;
			padding: var(--spacing-card-vertical) var(--spacing-card-horizontal);
			z-index: 2;
			border-radius: calc(var(--border-radius-card) - var(--border-width-card));
		}

		&.has-blurred-background {

			.card__wrapper {
				backdrop-filter: blur(10px) saturate(150%);
			}

			&::before {
				opacity: .3;
			}
		}
	}
}
