@use '../variables/base';
@use '../variables/color';
@use '../variables/transition';

@use '../functions' as fn;

.form {
	--color-input-background: #FFF;
	--color-input-border: #{color.$gray-400};
	--color-input-text: #{color.$text-dark};
	--color-input-background-focus: #FFF;
	--color-input-border-focus: #{color.$gray-600};
	--color-input-text-focus: #{color.$text-dark};
	--color-input-background-disabled: #{color.$gray-100};
	--color-input-border-disabled: #{color.$gray-400};
	--color-input-text-disabled: #{color.$gray-500};
	--spacing-input-horizontal: var(--blw-spacing-md);
	--spacing-input-vertical: #{fn.spacing()};
	--spacing-form-between: #{fn.spacing()};
	--font-size-input: var(--blw-text-size-md);
	--font-size-input-label: var(--blw-text-size-sm);
	--font-size-input-message: var(--blw-text-size-xs);
	--font-weight-input-label: 600;
	--border-radius-input: #{base.$corner-radius};
	--border-input-width: 1px;
	--transition-input: background-color, border-color, color, box-shadow, outline;
	--transition-duration-input: #{transition.$speed-fast};
	--box-shadow-input: inset 1px 1px 3px rgba(0, 0, 0, .1);

	&__item {

		& + & {
			margin-top: var(--spacing-form-between);
		}

		&.has-error {
			--color-input-background: #{color.$danger-50};
			--color-input-border: #{color.$danger-500};
			--color-input-text: #{color.$danger-600};
			--color-input-placeholder: #{color.$danger-600};
		}

		&.has-success {
			--color-input-background: #{color.$positive-50};
			--color-input-border: #{color.$positive-500};
			--color-input-text: #{color.$positive-600};
			--color-input-placeholder: #{color.$positive-600};
		}

		&.has-warning {
			--color-input-background: #{color.$warning-50};
			--color-input-border: #{color.$warning-500};
			--color-input-text: #{color.$warning-600};
			--color-input-placeholder: #{color.$warning-600};
		}

		&:is(.has-checkbox, .has-radio, :has([type='checkbox']), :has([type='radio'])) {
			display: grid;
			grid-template-columns: max-content 1fr;
			gap: var(--spacing-form-between);
			align-items: center;
			line-height: 1.1;

			.form__label {
				margin-block: 0;
			}

			&:is(.is-disabled, :has(:disabled)) {
				opacity: .5;

				& > * {
					cursor: not-allowed;
				}
			}
		}
	}

	&__input {
		display: block;
		background-color: var(--color-input-background);
		border: var(--border-input-width) solid var(--color-input-border);
		border-radius: var(--border-radius-input);
		color: var(--color-input-text);
		font-size: var(--font-size-input);
		padding: var(--spacing-input-vertical) var(--spacing-input-horizontal);
		transition-property: var(--transition-input);
		transition-duration: var(--transition-duration-input);
		width: 100%;
		box-shadow: var(--box-shadow-input);

		&:focus {
			background-color: var(--color-input-background-focus);
			border-color: var(--color-input-border-focus);
			box-shadow: var(--box-shadow-input), 0 0 0 1px var(--color-input-border-focus);
			color: var(--color-input-text-focus);
			outline: none;
		}

		&:disabled {
			background-color: var(--color-input-background-disabled);
			border-color: var(--color-input-border-disabled);
			color: var(--color-input-text-disabled);
			cursor: not-allowed;
		}

		&::placeholder {
			color: var(--color-input-text);
			opacity: .7;
		}

		&[type='radio'],
		&[type='checkbox'] {
			--size-input: 1.5em;
			--color-input-border: #{color.$gray-800};
			--color-input-border-focus: var(--color-input-border);
			--color-checked: #{color.$primary-600};
			--border-input-width: 2px;
			--transform-input-hover: scale(.5);
			--filter-input-hover: brightness(1.3);

			margin: 0;
			padding: 0;
			box-shadow: none;
			-webkit-appearance: none;
			appearance: none;
			width: var(--size-input);
			height: var(--size-input);
			display: grid;
			place-content: center;
			outline: calc(var(--border-input-width)) solid transparent;

			&::before {
				content: '';
				width: calc(var(--size-input) * .5);
				height: calc(var(--size-input) * .5);
				transform: scale(0);
				transform-origin: center;
				transition: transition.$speed-instant transform ease-in-out;
				transition-property: transform, filter;
				background-color: var(--color-checked);
			}

			&:hover::before {
				transform: var(--transform-input-hover);
				filter: var(--filter-input-hover);
			}

			&:checked::before {
				transform: scale(1);
			}

			&:focus-visible {
				outline-color: var(--color-input-border);
				outline-offset: var(--border-input-width);
			}
		}

		&[type='radio'] {
			border-radius: 50%;

			&::before {
				clip-path: none;
				border-radius: inherit;
			}
		}

		&[type='checkbox'] {

			&:not(.is-switch)::before {
				clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
			}

			&.is-switch {
				--translate-x: 0;
				--transform-switch: translateX(var(--translate-x));

				position: relative;
				width: 2.5em;
				border-radius: 50vmax;

				&::before {
					position: absolute;
					inset-block-start: 2px;
					inset-inline-start: 2px;
					width: 1em;
					height: 1em;
					transform: var(--transform-switch);
					transform-origin: left;
					border-radius: 50%;
				}

				&:hover::before {
					transform: var(--transform-switch) scaleX(1.08)
				}

				&:checked {
					--translate-x: 1em;

					[dir='rtl'] & {
						--translate-x: -1em;
					}

					&:hover::before {
						transform: var(--transform-switch) scaleX(1.08);
						transform-origin: right;
					}
				}

				&:not(:checked) {
					--color-checked: #{color.$gray-400};
					--filter-input-hover: brightness(.8);
				}
			}

		}
	}

	&__label {
		display: block;
		color: var(--color-input-text);
		font-size: var(--font-size-input-label);
		font-weight: var(--font-weight-input-label);
		margin-block: 0 calc(var(--spacing-form-between) / 2);
		margin-inline: 0;
		line-height: 1.1;
	}

	&__message {
		color: var(--color-input-text);
		font-size: var(--font-size-input-message);
		line-height: 1.1;
	}

	&__select {
		--select-arrow: var(--color-input-border);
		position: relative;

		select {
			appearance: none;

			&[multiple] {
				padding: 0;

				option {
					padding-inline: var(--spacing-input-horizontal);
					padding-block: var(--spacing-input-vertical);
				}
			}
		}

		&:not(:has([multiple]))::after {
			inset-inline-end: var(--spacing-input-horizontal);
			inset-block-start: 50%;
			transform: translateY(-50%);
			position: absolute;
			content: "";
			width: 0.8em;
			height: 0.5em;
			background-color: var(--select-arrow);
			clip-path: polygon(100% 0%, 0 0%, 50% 100%);
		}
	}

	&--horizontal {
		--spacing-form-between: #{fn.spacing(2)};

		.form__item {
			display: grid;
			grid-template-columns: 200px 1fr;
			gap: calc(var(--spacing-form-between) / 3) var(--spacing-form-between);
		}

		.form__input {
			align-self: start;
		}

		.form__label {
			display: flex;
			align-items: center;
			flex: 0 0 200px;
			margin-block: 0;
			margin-inline: 0;
		}

		.form__message {
			grid-column: 2 / 3;
		}
	}
}
