@use '../functions' as fn;

.marquee {
	--gap-marquee: 0rem;
	--animation-speed-marquee: 10s;

	position: relative;
	display: flex;
	overflow: hidden;
	user-select: none;
	gap: var(--gap-marquee);

	&__content {
		flex-shrink: 0;
		display: flex;
		gap: var(--gap-marquee);
		min-width: 100%;
		list-style: none;
		justify-content: space-around;

		/// Pause animation when reduced-motion is set
		@media (prefers-reduced-motion: reduce) {
			animation-play-state: paused !important;
		}

		.is-animated & {
			animation: scroll var(--animation-speed-marquee) linear infinite;
		}
	}
}

@keyframes scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-100% - var(--gap-marquee)));
	}
}
