@use '../functions' as fn;

.marquee {
	--gap-marquee: 0rem;
	--animation-speed-marquee: 30s;
	--scroll-start-marquee: 0;
	--scroll-end-marquee: calc(-100% - var(--gap-marquee));

	position: relative;
	display: flex;
	overflow: hidden;
	user-select: none;
	gap: var(--gap-marquee);

	&__content {
		flex-shrink: 0;
		display: flex;
		gap: var(--gap-marquee);
		min-width: 100%;
		list-style: none;
		justify-content: space-around;

		/// Pause animation when reduced-motion is set
		@media (prefers-reduced-motion: reduce) {
			animation-play-state: paused !important;
		}

		.is-animated & {
			will-change: transform;
			animation: scroll-x var(--animation-speed-marquee) linear infinite;
		}
	}

	&--reverse {

		.marquee__content {

			.is-animated & {
				animation-direction: reverse;
			}
		}
	}

	&--hover-pause {

		&:hover {

			.marquee__content {
				animation-play-state: paused;
			}
		}

	}
}

@keyframes scroll-x {
	from {
		transform: translateX(var(--scroll-start-marquee));
	}
	to {
		transform: translateX(var(--scroll-end-marquee));
	}
}

@keyframes scroll-y {
	from {
		transform: translateY(var(--scroll-start-marquee));
	}
	to {
		transform: translateY(var(--scroll-end-marquee));
	}
}
